.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 47);
}

.meetUserVideo {
    position: absolute;
    bottom: 5vh;
    height: 30vh;
    width: auto;
    left: 2vh;
    border-radius: 15px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.buttonContainers svg {
    font-size: 2rem;
}

.conferenceView { 

    display: flex;
    
    padding:15px 20px;
    gap: 1.5rem;
}

.conferenceView  video {
    width: 30vw;
    height: 40vh;
    min-width: 30vw;
    border-radius: 10px;
    object-fit: cover;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
    margin: 1rem 1rem 0rem 0rem;
}

.chatContainer {
    position: relative;
    height: 100%;
}


.chattingArea {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}